$container-background: #292929;
$body-background: white;

$primary-color: #fdff00;
$secondary-color: red;
$success-color: green;
$warning-color: red;
$alert-color: orange;

$medium-gray: #D3D3D3;
$black: #D3D3D3;

$button-color: #242424;